<!DOCTYPE html>

<html lang="es-ES">

    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    	<title>NTNU healthcare projects</title> 
        <link href="./static/css/styles.css" rel="stylesheet">
        <link rel="icon" href="./static/images/myicon.png">
	</head>
    
    <body>
        <header class="desktop">
            <a href="./index.html">
                <img class="logo" src="./static/images/mylogo.png" alt="Logo">
            </a>
            <nav>
                <ul class="ul_nav">
                    <li><a href="./index.html">MAIN</a></li>
                    <li><a href="https://www.ntnu.no/">NTNU</a></li>
                    <li><a href="https://www.ntnu.no/kontakt">CONTACT</a></li>
                </ul>  
            </nav>
            <div>
                <a class="button_nav_1" href="#">Log In</a>
                <a class="button_nav_2" href="#">Register</a>                
            </div>
        </header>

        <header class="tablet_mobile">
            <div class="dropdown">
                <button onclick="dropButton()" class="menu-button">Menu</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="./index.html">MAIN</a>
                    <a href="https://www.ntnu.no/">NTNU</a>
                    <a href="https://www.ntnu.no/kontakt">CONTACT</a>
                </div>
            </div>
            <a href="./index.html">
                <img class="logo" src="./static/images/mylogo.png" alt="Logo">
            </a>
            <a class="button_nav_1" href="#">Login</a>
        </header>

        <main>
            <div class="background-gold"> 
            </div>
            <div class="sec_1">
                <div class=div_h1_map>
                    <h1 class="h1_map">FETCH PROJECTS</h1>
                </div>
                <div class=container>

                    <img class="map_venezuela" src="./static/images/myipad2.png" alt="Mapa Venezuela" usemap="#places">
                    
                    <a href="humboldt.html">
                        <button class="btn">Search Projects</button>
                
                    </a>
                    <br>

                    <a href="canaima.html">
                        <button class="btn2">Update Projects</button>
                
                    </a>

                    <a href="morrocoy.html">
                        <button class="btn3">Our Researchers</button>
                
                    </a>


                    
                    

                    
                </div>
            </div>




            



 
            <div class="sec_3">
                <h1>Further Information about us</h1>
                <br>
                <div class="columns">
                    <div class="colum">
                        <div class="experience">
                            
                            <iframe class="media" title="ubi.3.10" src="https://www.youtube.com/embed/JSBTH1D0MSA"></iframe>  
                            <h2 class="exp_text_title">NTNU
                                <br>
                                Hvordan møte barn og unge med ubehagelige følelser?
                            </h2>  
 
                        </div>
                        <div class="experience">
                            <iframe class="media" title="ubi.3.10" src="https://www.youtube.com/embed/l5q49mhLi00"></iframe> 
                            <h2 class="exp_text_title">NTNU
                                <br>
                                Hvordan fungerer en koronatest?
                            </h2>   
  
                        </div>
                        <div class="experience">
                            <iframe class="media" title="ubi.3.10" src="https://www.youtube.com/embed/gLdznG7cRmQ"></iframe>
                            <h2 class="exp_text_title">NTNU
                                <br>
                                Hvordan lages en koronavaksine?
                            </h2> 
  
                        </div>
                    </div>
                    <div class="colum">
                        <div class="experience">
                            <iframe class="media" title="ubi.3.10" src="https://www.youtube.com/embed/fPaXMmYEWfA"></iframe>
                            <h2 class="exp_text_title">NTNU
                                <br>
                                Medisinfri søvnbehandling 
                            </h2> 
                        
                        </div>
                        <div class="experience">
                            <iframe class="media" title="ubi.3.10" src="https://www.youtube.com/embed/0aXJPfP6LyY"></iframe>
                            <h2 class="exp_text_title">NTNU
                                <br>
                                Biological basis of cardiovascular disease 
                            </h2> 
                         
                        </div>
                        <div class="experience">
                            <iframe class="media" title="ubi.3.10" src="https://www.youtube.com/embed/POSLAQD5lwY"></iframe>
                            <h2 class="exp_text_title">NTNU
                                <br>
                                Understanding the biological basis of cardiovascular disease
                            </h2>  
                         
                        </div>
                    </div>
                    <div class="colum">
                        <div class="experience">
                            <iframe class="media" title="ubi.3.10" src="https://www.youtube.com/embed/Whut4Yo-x-A"></iframe>
                            <h2 class="exp_text_title">NTNU
                                <br>
                                Mendelian Randomization 
                            </h2>  
                          
                        </div>
                        <div class="experience">
                            <iframe class="media" title="ubi.3.10" src="https://www.youtube.com/embed/Q6YU6gGeaWs"></iframe>
                            <h2 class="exp_text_title">NTNU
                                <br>
                                Centre for Innovative Ultrasound Solutions
                            </h2>  
                           
                        </div>
                        <div class="experience">
                            <iframe class="media" title="ubi.3.10" src="https://www.youtube.com/embed/T_kSTBMVSK8"></iframe>
                            <h2 class="exp_text_title">NTNU
                                <br>
                                Immune cells eating uric acid crystals
                            </h2>  
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <footer>
            <p class="foot_text_1">Healthcare Projects</p>  
            <div class="div_footer_parent">
                <div class="div_footer_child">
                    <p class="foot_text_2">FAQ</p>
                    <img class="social_icons" src="./static/images/social_instagram.png.png" alt="Instagram">
                    <img class="social_icons" src="./static/images/social_youtube.png.png" alt="Youtube">
                    <img class="social_icons" src="./static/images/social_facebook.png.png" alt="Facebook">
                </div>
                <div class="div_footer_child">
                    <p class="foot_text_2">Terminos y Condiciones</p>
                </div>
            </div>       
        </footer>

        <script>
            /*Botón Menú*/
            function dropButton() 
            {
                document.getElementById("myDropdown").classList.toggle("show");
            }
            
            // Cerrar botón al tocar fuera
            window.onclick = function(event) 
            {
                if (!event.target.matches('.menu-button')) 
                {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) 
                    {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) 
                        {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }  
        </script>
    </body>
</html>